/Classes/VersionInfo.uc

*.sublime-workspace

/Build/Temp/**/*
/System/**/*.u
/System/**/*.uz

/IG+ Extras/
/IG+ Extras/**/*
/OtherMods/**/*
.env
/Build/**/*

build_all.sh
build.sh

.cursorignore
.DS_Store